.DS_Store

*.py[cod]
*$py.class
__pycache__
.Python
*.so
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

venv

.vscode
.idea
.vagrant

*.log
db.sqlite3